body {
    font-family: 'Poppins', sans-serif;
    padding-top: 0%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
}

span {
    color: rgb(97, 76, 216);
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    margin-top: 0%;
    float: left;
    padding-left: 5%;
    
    
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
    color: white
}

body {
    margin: 0px;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

p {
    font-weight: 300;
    color: rgb(77, 74, 74);
}

.web-developer {
    color: orangered;
}
.experience-item{
    
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin: 0% 5%;
    text-align: left;
    padding: 2% 5%;
    border-radius: 10%;

}

.orange-color{
    color: orangered;
}

footer{
    text-align: center;
}
.button-pos{
    margin-top: 5%;
}
.exp-pos{
    text-align: center;
    text-shadow: 5px 5px orange;
   background-color: darkslategray;
    color: white;
}